
body {
    background-color: white;
    font-display: helvetica;
}

header {
    background: white;
    border: 3px;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;

}

table {
    color: black;
    border: solid 5px black;
    background-color: tan;
}
h3 {
    text-align: center;
}
.input {
    border: 3px solid black;
    width: 40%;
}    